.btn,
.ShortenForm__btn {
  border: none;

  padding: 2em 3em;

  border-radius: 4em;
  cursor: pointer;

  background-color: var(--col-Prmy-mod);
  color: var(--fcol-prmy);
  font-weight: var(--fw-tri);
}

.btn:hover,
.ShortenForm__btn:hover {
  background-color: var(--col-Prmy-dark);
  transition: 0.45s;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.NavLeft,
.NavLinks,
.NavRight {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.NavLeft,
.NavRight {
  align-items: center;
}

.NavLinks__Items {
  font-size: var(--fs-sec);
  cursor: pointer;
}

.NavLinks__Items:hover {
  color: var(--fcol-sec);
}

.ShortenForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 2rem;
  border-radius: 10px;

  background-color: var(--col-Neu-Dblue);
  transform: translateY(-70%);
}

.ShortenForm__Input {
  width: 60%;
  border-radius: 10px;
  border: none;
  height: 3vh;
  padding: 2rem 2.25rem;

  font-size: var(--fs-sec);
  font-family: var(--ff-prmy);
}

.ShortenForm__btn {
  border-radius: 1em;
  padding: 1.5rem 4rem;

  font-size: var(--fs-sec);
}

.Features {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;

  background-color: var(--background-col-sec);
  border-radius: 10px;
}

.FeatureImgCon {
  background-color: var(--col-Prmy-dark);
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: grid;
  place-items: center;

  transform: translateY(-90%);
}

.FeaturesTextCon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Features__Header {
  font-size: var(--fs-sec);
  font-weight: var(--fw-sec);
  color: var(--fcol-sec);
}

.shortLinks {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: var(--background-col-sec);
}

.shortLinksGenCon {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.shortLinks__OURL,
.shortLinks__sURL {
  font-size: var(--fs-sec);
  text-align: center;
}

.shortLinks__sURL {
  color: var(--col-Prmy-mod);
}

@media screen and (max-width: 800px) {
  .Nav {
    flex-direction: column;
    gap: 1.25rem;
  }
  .ShortenForm,
  .shortLinks,
  .shortLinksGenCon {
    flex-direction: column;
  }

  .ShortenForm__Input,
  .ShortenForm__btn {
    width: 100%;
  }

  .shortLinks {
    gap: 1.25rem;
  }

  .FeatureImgCon {
    align-self: center;
  }
}
